body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    display: flex;
    padding: 50px 250px 0px 250px;
}
.header{
    background-color:rgba(229, 84, 115, 0.10);

}

div li{
    list-style: none;
}
.intro{
    display: flex;
width: 800px;
flex-direction: column;
color: #272727;
font-size: 50px;
font-weight: 700;
}
.intro-description{
display: flex;
width: 800px;
flex-direction: column;
display: flex;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-top: 20px;
}
.welcome-all{
    display: flex;
    padding: 200px 200px 200px 200px;
}
.btn-prymary{
    display: inline-flex;
padding: 20px 40px;
align-items: flex-start;
gap: 10px;
    border-radius: 8px;
background: #E55473;
border: none;
}
/* 2nd styel */
.featured{
    text-align: center;
}
.f-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 200px;
}
.f-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
}